/* Ensure the variable is set: --xiangqi-diag-board-color */
.xiangqi_diag {
  --red-piece-color: #ff0000;
  --red-piece-font-color: #ffffff;
  --black-piece-color: #000000;
  --black-piece-font-color: #ffffff;
  background-color: #d3b15c;
  height: 400px;
  position: relative;
  width: 400px;
}

.xiangqi_board {
  background-color: var(--xiangqi-diag-board-color);
  background-image: "SVG-REPLACE ./assets/boards/xiangqiPlain.svg";
  height: 400px;
  position: absolute;
  width: 360px;
}

.square_container {
  align-items: center;
  display: flex;
  height: 40px;
  justify-content: center;
  position: absolute;
  width: 40px;
}

.text_piece {
  align-items: center;
  border-radius: 50%;
  display: flex;
  font-size: larger;
  justify-content: center;
  height: 85%;
  width: 85%;
}

.red {
  background-color: var(--red-piece-color);
  color: var(--red-piece-font-color);
}

.black {
  background-color: var(--black-piece-color);
  color: var(--black-piece-font-color);
}

.side_indicator {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translate(900%, 450%);
  transform-origin: center;
}

.bottom_triangle {
  border-bottom: 8px solid;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  height: 0;
  width: 0;
}

.top_triangle {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 8px solid;
  height: 0;
  width: 0;
}

.red_triangle {
  border-bottom-color: var(--red-piece-color);
  border-top-color: var(--red-piece-color);
}

.black_triangle {
  border-bottom-color: var(--black-piece-color);
  border-top-color: var(--black-piece-color);
}

.turn_container {
  transform: translate(900%, 510%);
  transform-origin: center;
}

.turn_indicator {
  border-radius: 50%;
  height: 10px;
  position: absolute;
  width: 10px;
}
